.sec1{
    height: 68vh;
    background-color: black;
    display: flex;
}
article{
    background-size: cover;
    background-position: center;
    flex: 1;
    padding: irem;
    display: flex;
    align-items: flex-end;
    color: white;
    font-size: 50%;
    transition: 1s;
}
article:hover{
    flex: 3;
    font-size: 130%;
}
.en{
background-image: url(file.jpg);
color: aqua;
}
.to{
background-image: url(s-l500.jpg);
color: aqua;
}
.tre{
background-image: url(images.jpg);
color: aqua;
}